.git
.idea
TaskTrackerCat.sln.DotSettings.user
logs.json

src/Infrastructure/obj
src/Infrastructure/bin

src/TaskTrackerCat.API/bin
src/TaskTrackerCat.API/obj

src/TaskTrackerCat.BLL/bin
src/TaskTrackerCat.BLL/obj

src/TaskTrackerCat.DAL/bin
src/TaskTrackerCat.DAL/obj

src/TaskTrackerCat.Migrator/obj
src/TaskTrackerCat.Migrator/bin