.git
.idea
TaskTrackerCat.sln.DotSettings.user
logs.json

src/Infrastructure/obj
src/Infrastructure/bin


src/TaskTrackerCat/bin
src/TaskTrackerCat/obj

src/TaskTrackerCat.Migrator/obj
src/TaskTrackerCat.Migrator/bin